{% extends "::base.html.twig" %}

{% block title %} - Enregistrement{% endblock %} 
{% set active_page = 'Enregistrement' %}
{% block body %}
<div class="row">
    <div class="col-lg-12">
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </div>
</div>
{% endblock body %}
