{% extends "::base.html.twig" %}

{% block title %} - Demande de récupération déjà effectuée{% endblock %} 
{% set active_page = 'Demande de récupération déjà effectuée' %}
{% block body %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Demande de récupération déjà effectuée</h3>
            </div>
            <div class="panel-body">
                {{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
            </div>
        </div>
    </div>
</div>
{% endblock body %}
