<!DOCTYPE html>
<html lang="fr">
    <head>

    </head>
    <body>
        <p>Bonjour,</p>

        <p>Une nouvelle annonce a été postée, vous pouvez l'activer en cliquant sur ce lien : </p>

        <p><a href="{{ url('admin_ce_announce_post_edit', {'id': id}) }}">{{ url('admin_ce_announce_post_edit', {'id': id}) }}</a></p>

        <i>Cordialement,</i>
    </body>
</html>



